<div id="competence" class="tab" data-group="sheet" data-tab="competence">
                <div class="stat">
                    <span class="dice second" data-name="{{subValue.name}}" data-base="{{subValue.base}}" data-bonus="{{subValue.bonus}}" data-stat="{{subValue.stat}}">
                       🎲
                    </span>
                    <input class="subcompt" type="text" name="system.competence.{{stat}}.sousCompetences.{{subStat}}.name" value="{{subValue.name}}">
                    <select class="statl" name="system.competence.{{stat}}.sousCompetences.{{subStat}}.stat">
                        {{#select subValue.stat}}
                            <option value="vigueur">vigueur</option>
                            <option value="coordination">coordination</option>
                            <option value="logique">logique</option>
                            <option value="instinct">instinct</option>
                            <option value="empathie">empathie</option>
                            <option value="pouvoir">pouvoir</option>
                        {{/select}}
                    </select>

                    <input class="base" type="text" name="system.competence.{{stat}}.sousCompetences.{{subStat}}.base" value="{{subValue.base}}">
                    <input class="bonus" type="text" name="system.competence.{{stat}}.sousCompetences.{{subStat}}.bonus" value="{{subValue.bonus}}">
                    <input class="total" type="text" value="" readonly="">
                
                    <a class="rm-sub-competence" data-id="{{stat}}" data-idsub="{{subStat}}" title="Ajouter une sous-compétence">-</a>
                </div>
</div>

