<div>
    <label for="level">Quantité :</label>
    {{formInput systemFields.quantity name="system.quantity" value=system.quantity localize=true rootId=partId}}

    <label for="health">Poids :</label>
    {{formInput systemFields.poids name="system.poids" value=system.poids localize=true rootId=partId}}

    <label for="health">Description :</label>
    {{formInput systemFields.description name="system.description" value=system.description localize=true rootId=partId}}

    <label for="health">cdt :</label>
    {{formInput systemFields.cdt name="system.cdt" value=system.cdt localize=true rootId=partId}}

    <label for="health">Portée :</label>
    {{formInput systemFields.portee name="system.portee" value=system.portee localize=true rootId=partId}}

    <label for="health">Mun :</label>
    {{formInput systemFields.mun name="system.mun" value=system.mun localize=true rootId=partId}}

    <label for="health">DMG :</label>
    {{formInput systemFields.dmg name="system.dmg" value=system.dmg localize=true rootId=partId}}

</div>